.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 60px); /* Assuming the navbar is 60px tall */
  padding-top: 10px; /* Assuming the navbar is 60px tall */
}

/* Heading Text */
.rainbow-heading-text {
  background-clip: text;   
  color: transparent;  
  /* Making it so that the color is transparnet so that the it shows background color not text color */
  font-size: 30px;
  opacity: 100%;
  font-weight: 700;
  letter-spacing: -1.456px;
  line-height: 112px;
  /* background-image:linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); */
  background: linear-gradient(90.05deg, rgb(181, 255, 211) 0.02%, rgb(209, 164, 255) 39.16%, rgb(255, 165, 175) 75.82%, rgb(255, 220, 164) 112%) text;
}

.button {
  position: relative;
  padding: 30px 20px;
  border-radius: 28px;
  background-color: #fd746c;
  width: 25%;
  text-align: center;
  overflow: hidden;
  color: #FFF;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 1;
}

.button:hover .circle {
  transform: scale(10);
  z-index: -1;
  
}

.button-title {
  font-weight: bold;
  font-size: 30px;
}

.button-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left !important;
  color: #FFF;
}

.button:hover .button-title {
  color: #512DA8;
}

.circle {
  position: absolute;
  top: -75px;
  right: -75px;
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  border-radius: 50%;
  transition: all .5s ease;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .button {
    width: 70%;
  }

  .button-title {
    font-size: 24px;
  }

  .button-subtitle {
    font-size: 16px;
    text-align: center;
    width: 65%;
  }
}